
$height: 40px;
$startWidth: 48px;

html,
body,
div,
ul,
li,
input {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

input {
	outline: 0;
}

a {
	text-decoration: none;
}

%border-box {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin box-shadow($value){
	-moz-box-shadow: $value;
	-ms-box-shadow: $value;
	-o-box-shadow: $value;
	-webkit-box-shadow: $value;
	box-shadow: $value;
}

@mixin hover($opacity){
	&:hover {
		background: rgba(255,255,255,$opacity);
	}
}

@mixin container($width,$position:relative){
	float: left;
	width: $width;
	height: $height;
	position: $position;
	@include hover(.2);
}

@mixin panel($h){
	@extend %border-box;
	display: none;
	width: 360px;
	height: $h;
	position: absolute;
	bottom: $height;
	right: 0;
	@include box-shadow(-1px -1px 3px rgba(0,0,0,.3));
}

body {
	font-family: "Microsoft Yahei";
	color: #fff;
	font-size: 12px;
}

.taskbar-container {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 99;

	width: 100%;
	height: $height;
}

.start-container {
	@include container($startWidth);
	
	.start-icon {
		display: block;
		width: 100%;
		height: 100%;
		background: url(images/sprite.png) 0 0;
	}
	.start-menu {
		display: none;
		position: absolute;
		bottom: $height;
		left: 0;
		width: 700px;
		@include box-shadow(1px -1px 5px rgba(0,0,0,.3));
	}
	.start-menu-left {
		@extend %border-box;
		float: left;
		width: 200px;
		.avatar {
			position: relative;
			height: $height;
			line-height: $height;
			padding-left: $height + 20;
			margin: 10px 0 10px 10px;
			@include hover(.3);
			&:before {
				content: "";
				display: block;
				width: $height;
				height: $height;
				background: url(images/sprite.png) -48px 0;
				position: absolute;
				left: 10px;
			}
		}
		li {
			display: block;
			padding: 10px;
			margin: 0 0 5px 10px;
			@include hover(.3);
		}
		i {
			margin-right: 10px;
			font-size: 14px;
		}
	}
	.start-menu-right {
		float: left;
		width: 500px;
		.fa-spinner {
			position: absolute;
			left: 50%;
			top: 50%;
		}
	}
}

.cortana-container {
	@include container(344px);

	.cortana {
		@extend %border-box;
		float: left;
		width: 100%;
		height: 100%;
		line-height: $height;
		outline: 0;
		border: 0;
		margin: 0;
		padding: 0 0 0 10px;
		font-size: 14px;
		background: rgba(255,255,255,.1);
		&.active {
			background: #fff;
		}
	}
	.cortana-menu {
		display: none;
		width: 392px;
		height: 500px;
		position: absolute;
		left: -48px;
		bottom: 40px;
		@include box-shadow(1px -1px 5px rgba(0,0,0,.3));
	}
	.cortana-menu-left {
		float: left;
		width: 48px;
		height: 100%;
		position: relative;
		font-size: 16px;
		li {
			width: 48px;
			height: 48px;
			line-height: 48px;
			text-align: center;
			&:hover {
				background: rgba(255,255,255,.1);
			}
			&.active {
				background: rgba(255,255,255,.2);
			}
			&:last-of-type {
				position: absolute;
				bottom: 0;
			}
		}
	}
	.cortana-menu-right {
		float: right;
		width: 344px;
		height: 100%;
		background: #000;
		text-align: center;
		.fa-spinner {
			line-height: 500px;
		}
	}
}

.program-container {
	float: left;
	.thumbnail,
	.explorer,
	.chrome,
	.sublime-text {
		@include container(49px);
	}
	.thumbnail {
		.thumbnail-icon {
			span {
				@extend %border-box;
				position: absolute;
				display: block;
				border: 1px solid #fff;
				&:first-child,
				&:last-child {
					width: 5px;
					height: 10px;
					top: 14px;
				}
				&:first-child {
					left: 14px;
					border-right: 0;
				}
				&:last-child {
					left: 29px;
					border-left: 0;
				}
				&:nth-child(2) {
					width: 12px;
					height: 15px;
					top: 12px;
					left: 18px;
				}
			}
		}
		&:hover {
			span {
				&:first-child {
					left: 12px;
					border-right: 1px solid #fff;
				}
				&:last-child {
					left: 31px;
					border-left: 1px solid #fff;
				}
			}
		}
	}
	i {
		display: block;
		width: 49px;
		height: 40px;
	}
	.explorer-icon,
	.chrome-icon,
	.sublime-text-icon {
		background: url(images/sprite.png);
	}
	.explorer-icon {
		background-position: 0 -40px;
	}
	.chrome-icon {
		background-position: -49px -40px;
	}
	.sublime-text-icon {
		background-position: -98px -40px;
	}
}

.notification-container {
	float: right;
	position: relative;
	.fa{
		font-size: 14px;
	}
	.battery,
	.wifi,
	.notify,
	.volume {
		@include container(30px,static);
	}
	.battery-icon,
	.wifi-icon,
	.volume-icon,
	.notify-icon {
		display: block;
		width: 25px;
		height: $height;
		background: url(images/sprite.png);
	}
	.battery-icon {
		background-position: 0 -80px;
	}
	.wifi-icon {
		background-position: -25px -80px;
	}
	.volume-icon {
		background-position: -50px -80px;
	}
	.notify-icon {
		background-position: -75px -80px;
	}
	.time {
		@include container(75px);
		text-align: center;
	}
	.time-clock,
	.time-date {
		display: block;
		width: 75px;
		height: $height / 2;
		line-height: $height / 2;
	}

	.battery-panel {
		@include panel(180px);
	}
	.battery-panel-top {
		font-size: 36px;
		line-height: 40px;
		padding: 20px 30px 0;
		.fa-battery-half {
			font-size: 1em;
		}
		span {
			display: inline-block;
			transform: translateY(-8px);
			font-size: 14px;
			color: #ccc;
		}
	}
	.battery-panel-setting {
		margin: 10px 30px;
		font-size: 14px;
	}
	.battery-panel-bottom {
		padding: 0 20px;
		height: 60px;
		.button {
			@extend %border-box;
			float: left;
			width: 85px;
			height: 60px;
			margin: 0 10px;
			padding: 0 5px;
			background: rgba(255,255,255,.3);
			line-height: 30px;
			border: 2px solid transparent;
			&:hover {
				border-color: rgba(255,255,255,.3);
			}
			&.disable {
				color: #ccc;
			}
			&.disable:hover {
				border-color: transparent;;
			}
		}
	}
	.wifi-panel {
		@include panel(580px);
	}
	.wifi-panel-top {
		height: 460px;
		overflow-y: auto;
		i {
			margin: 0 20px;
		}
		li {
			padding: 20px;
			&:hover {
				background: rgba(255,255,255,.3);
			}			
		}
	}
	.wifi-panel-setting {
		margin: 10px 30px;
		font-size: 14px;
	}
	.wifi-panel-bottom {
		padding: 0 20px;
		height: 60px;
		.currentwifi,
		.flightmode {
			@extend %border-box;
			float: left;
			width: 85px;
			height: 60px;
			margin: 0 10px;
			padding: 0 5px;
			background: rgba(255,255,255,.3);
			line-height: 30px;
			border: 2px solid transparent;
			&:hover {
				border-color: rgba(255,255,255,.3);
			}
		}
	}
	.volume-panel {
		@include panel(85px);
	}
	.volume-panel-top {
		padding: 10px 20px;
	}
	.volume-panel-bottom {
		i,
		input,
		span {
			float: left;
			height: 30px;
			line-height: 30px;
			margin-left: 20px;
		}
		input {
			width: 220px;
		}
	}
	.notify-panel {
		display: block;
		margin-right: -360px;
		@include panel(620px);
	}
	.notify-panel-top {
		padding: 20px;
	}
	.notify-panel-middle {
		padding: 0 20px;
		color: #ddd;
	}
	.notify-panel-bottom {
		@extend %border-box;
		width: 100%;
		height: 240px;
		overflow: hidden;
		padding-top: 30px;
		position: absolute;
		bottom: 0;
		.toggle {
			position: absolute;
			right: 5px;
			top: 5px;
			&:hover {
				color: #ccc;
			}
		}
		.button {
			@extend %border-box;
			float: left;
			width: 80px;
			height: 60px;
			margin: 5px;
			padding: 0 5px;
			background: rgba(255,255,255,.3);
			line-height: 30px;
			border: 2px solid transparent;
			&:hover {
				border-color: rgba(255,255,255,.3);
			}
			&.disable {
				color: #ccc;
			}
			&.disable:hover {
				border-color: transparent;;
			}
		}
	}
}